<launch>

  <!-- A simple launch file for the nmea_serial_driver node. -->

  <arg name="ip" default="0.0.0.0" />
  <arg name="port" default="10110" />
  <arg name="frame_id" default="gps" />
  <arg name="use_GNSS_time" default="False" />
  <arg name="time_ref_source" default="gps" />
  <arg name="useRMC" default="False" />

  <node name="nmea_socket_driver_node" pkg="nmea_navsat_driver" type="nmea_socket_driver" output="screen">
    <param name="ip" value="$(arg ip)" />
    <param name="port" value="$(arg port)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="use_GNSS_time" value="$(arg use_GNSS_time)" />
    <param name="time_ref_source" value="$(arg time_ref_source)" />
    <param name="useRMC" value="$(arg useRMC)" />
  </node>

</launch>
